.normal-transition {
  transition: all .5s ease;
  transform: scale(1);
  opacity: 1;
}

.normal-enter {
  transform: scale(0.1);
  opacity: 0;
}

.normal-leave {
  transform: scale(0.1);
  opacity: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

h2 {
  margin: 0;
}

a {
  color: #1228D4;
  text-decoration: none;
  transition: all .4s ease-in-out;
}

a:hover {
  color: #455bff;
  text-decoration: underline;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

body, html {
  margin: 0;
  background-color: #F8F8F8;
  padding: 0;
  overflow: hidden;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#body {
  margin: 0;
  background-color: #F8F8F8;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#body > header {
  background-color: #c5c5c5;
}

#body > header > div {
  position: fixed;
  width: 300px;
  height: 150px;
  background-color: #04a4cc;
  border: 4px solid #fff;
  text-align: center;
  box-shadow: 0 0 4px #04A4CC;
  transition: all .4s ease-in-out;
  border-radius: 100px;
  opacity: .5;
  z-index: 100;
}

#body > header > div p {
  color: #83FFE9;
  display: block;
  height: 25px;
  margin-top: 20px;
  font-size: 12px;
  height: 32px;
}

#body > header > div p span {
  transition: opacity 2s ease-in-out;
  opacity: 0;
  text-shadow: 0 0 30px #FFF;
  display: block;
}

#body > header > div p span.delay {
  transition-delay: 1s;
}

#body > header > div:hover, #body > header > div.hover {
  opacity: .9;
  transform: rotate(0);
  border-radius: 30px;
}

#body > header > div:hover p span, #body > header > div.hover p span {
  opacity: 1;
}

#body > header .menu {
  padding-top: 150px;
  top: -160px;
  left: -160px;
  transform: rotate(-45deg);
}

#body > header .menu:hover, #body > header .menu.hover {
  left: 0;
}

#body > header .menu ul {
  font-size: 16px;
  padding: 0 50px;
}

#body > header .menu ul a {
  color: #FFF;
}

#body > header .menu ul li {
  transition: all .4s ease-in-out;
  float: left;
  padding: 4px 0;
  cursor: pointer;
  width: 60px;
}

#body > header .menu ul li.index {
  margin: 20px 70px;
}

#body > header .menu ul li.three {
  margin: 0 10px;
}

#body > header .menu ul li:hover {
  transform: rotate(10deg);
  background-color: #F8F8F8;
  color: #04A4CC;
  border-radius: 10px;
  box-shadow: 0 0 10px #fff;
}

#body > header .auther {
  padding-top: 150px;
  top: -160px;
  right: -160px;
  transform: rotate(45deg);
}

#body > header .auther:hover, #body > header .auther.hover {
  right: 0;
}

#body > header .auther:hover img, #body > header .auther.hover img {
  transform: rotate(0);
  margin-top: 20px;
  width: 24%;
}

#body > header .auther img {
  transition: all .4s ease-in-out;
  transform: rotate(-45deg);
  width: 30%;
  border-radius: 50%;
  box-shadow: 0 0 10px #FFF;
}

#body > header .chat {
  padding-bottom: 150px;
  right: -210px;
  bottom: -210px;
  transform: rotate(45deg);
}

#body > header .chat:hover, #body > header .chat.hover {
  right: 0;
}

#body > header .other {
  padding-bottom: 150px;
  bottom: -210px;
  left: -210px;
  transform: rotate(-45deg);
}

#body > header .other:hover, #body > header .other.hover {
  left: 0;
}

#body > .main {
  position: absolute;
  top: 50px;
  left: 50px;
  right: 50px;
  bottom: 50px;
}

#body > footer {
  color: #fff;
  transition: all .4s ease-in-out;
  position: fixed;
  z-index: 90;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  box-shadow: 0 0 4px #04a4cc;
  background-color: #26c6ee;
  opacity: .9;
  height: 0px;
  padding-top: 4px;
}

#body > footer:hover {
  padding-top: 20px;
  height: 84px;
}

h1 {
  color: #04a4cc;
}

#page-loader-model {
  background-color: #FFF;
  position: fixed;
  z-index: 10000;
  opacity: 1;
  transition: all .4s ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#page-loader-model.hide {
  opacity: 0;
  pointer-events: none;
}

#page-loader-model .spinner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 32px;
  height: 32px;
  margin: auto;
}

#page-loader-model .spinner .cube1, #page-loader-model .spinner .cube2 {
  background-color: #04a4cc;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  animation: cubemove 1.8s infinite ease-in-out;
  animation: cubemove 1.8s infinite ease-in-out;
}

#page-loader-model .spinner .cube2 {
  animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@keyframes cubemove {
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
  }
  50% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes cubemove {
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    transform: translateX(42px) rotate(-90deg) scale(0.5);
  }
  50% {
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    transform: translateX(42px) translateY(42px) rotate(-179deg);
  }
  50.1% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  }
  100% {
    transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

.main.about, .main.friend {
  width: 400px;
  height: 500px;
  margin: auto;
}

.main.about p, .main.friend p {
  margin: 16px 0;
}

.main.index p {
  color: #04a4cc;
}

.main.index .center {
  text-align: center;
}

.main.index .section {
  margin-top: 20px;
  position: relative;
}

.main.index .section ul li {
  width: 240px;
  height: 80px;
  padding: 12px;
  margin: 4px;
  background-color: #04a4cc;
  border: 4px solid #FFF;
  box-shadow: 0 0 4px #04a4cc;
  transition: background-color .4s ease-in-out;
  float: left;
  overflow: hidden;
}

.main.index .section ul li h2 {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}

.main.index .section ul li a {
  color: #fff;
}

.main.index .section ul li .des {
  color: #DADADA;
  font-size: 0.8rem;
}

.main.index .section ul li:hover {
  background-color: #00a499;
}

.main.index .section ul li:hover a {
  color: #83E9F5;
  text-decoration: none;
}

.main.categories h1 {
  height: 100px;
  text-align: center;
}

.main.categories .posts .block {
  float: left;
  border-radius: 4px;
  padding: 2px 8px;
  height: 20px;
  line-height: 20px;
  margin: 0 14px 10px 0;
}

.main.categories .posts .block.title {
  background-color: #04a4cc;
  color: #FFF;
  font-size: 18px;
}

.main.categories .posts .block.post {
  cursor: pointer;
  box-shadow: 0 0 1px #04a4cc;
  color: #04a4cc;
  font-size: 14px;
  transition: all .4s ease-in-out;
}

.main.categories .posts .block.post .date {
  display: none;
}

.main.categories .posts .block.post:hover {
  color: #41c2e2;
  border-radius: 0px;
  background-color: #FFF;
}

.main.categories .posts .block.post:hover .date {
  display: block;
}

.main.categories .posts .block.post:hover .content {
  display: none;
}

.main.post h1 {
  position: absolute;
  top: 0;
  left: 320px;
  right: 320px;
  text-align: center;
  line-height: 50px;
}

.main.post .time {
  text-align: center;
  line-height: 50px;
  font-size: 18px;
  position: absolute;
  top: 50px;
}

.main.post .line-break-des {
  display: block;
  height: 1px;
  background-color: #555;
  border: 1px solid #EFEFEF;
  width: 100%;
}

.main.post .des {
  padding: 10px;
  background-color: #F9F9F9;
  border: 1px solid #555;
  margin-top: 100px;
}
