<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
  <title>{{ page.title }}</title>
  <base href="{{ site.src_url }}" />
  <link rel="stylesheet" type="text/css" href="/css/default.css">
</head>
<body>
{% include header.html %}
<!-- 主体 -->
<main>
  {{ content }}
</main>
{% include footer.html %}
<script src="http://cdn.bootcss.com/require.js/2.2.0/require.min.js"></script>
<script type="text/javascript" src="/js/base.js"></script>
</body>
</html>